.uuid-background {
  height: 635px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.uuid-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* background-color: rgba(251, 247, 247, 0.626); */
  /* background-image: url("/public/cardbody1.jpg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583150/Med-equip/hrxjh4lqnafcysp5l96g.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  row-gap: 5px;
}
.uuid-container {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 45%;
  width: 25%;
  border: 2px solid rgb(240, 228, 207);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  background-color: #ecf0f1;
}
.uuid-heading {
  /* background-color: red; */
  width: 48%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.head-key-img {
  height: 19px;
}
#uuid-input {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  font-size: 32px;
  border: 2px solid rgb(209, 209, 209);
  font-weight: 700;
  text-align: center;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uuid-input:focus {
  outline: none;
}
#uuid-input::placeholder {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
  letter-spacing: 0px;
}
#uuid-verify {
  height: 45px;
  width: 35%;
  border: 0px;
  /* background-color: rgb(0, 136, 255); */
  /* background-color: #f49959; */
  /* background-image: url("/public/navbar.jpeg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583157/Med-equip/fntyslxttnvefmsosy6v.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}
.uuid-warning{
  font-size: .65rem;
  color: red;
  font-weight: 700;
}
@media screen and (max-width: 1330px) and (min-width: 1145px) {
  .uuid-container {
    font-size: 21px;
  }
  .head-key-img {
    height: 16px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 39%;
    border: 0px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 1145px) and (min-width: 1125px) {
  .uuid-container {
    font-size: 21px;
  }
  .head-key-img {
    height: 16px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 39%;
    border: 0px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 1125px) and (min-width: 1115px) {
  .uuid-container {
    font-size: 20px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 38%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 1115px) and (min-width: 1050px) {
  .uuid-heading {
    /* background-color: red; */
    width: 52%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .uuid-container {
    font-size: 20px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 38%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 1050px) and (min-width: 1000px) {
  .uuid-container {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 30%;
    border: 2px solid rgb(240, 228, 207);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ecf0f1;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .uuid-container {
    font-size: 20px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 38%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .uuid-container {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 34%;
    border: 2px solid rgb(240, 228, 207);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ecf0f1;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .uuid-container {
    font-size: 20px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 38%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  .uuid-container {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 40%;
    border: 2px solid rgb(240, 228, 207);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ecf0f1;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .uuid-container {
    font-size: 20px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 38%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 700px) and (min-width: 600px) {
  .uuid-container {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 45%;
    border: 2px solid rgb(240, 228, 207);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ecf0f1;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .uuid-container {
    font-size: 22px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 40%;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .uuid-container {
    font-size: 25px;
    height: 45%;
    width: 55%;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
  }
  .uuid-container {
    font-size: 22px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 40%;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) and (min-width: 400px) {
  .uuid-container {
    font-size: 25px;
    height: 45%;
    width: 65%;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
  }
  .uuid-container {
    font-size: 22px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 40%;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  .uuid-container {
    font-size: 25px;
    height: 40%;
    width: 80%;
    /* background-color: red; */
  }
  .uuid-heading {
    /* background-color: red; */
    width: 58%;
  }
  .uuid-container {
    font-size: 22px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 40%;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 300px) and (min-width: 200px) {
  .uuid-container {
    font-size: 25px;
    height: 45%;
    width: 85%;
  }
  .uuid-heading {
    /* background-color: red; */
    width: 65%;
  }
  .uuid-container {
    font-size: 22px;
  }
  .head-key-img {
    height: 15px;
  }
  #uuid-input {
    height: 40px;
  }
  #uuid-verify {
    height: 35px;
    width: 40%;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
  }
}
