.footer-home {
  min-height: 350px;
  width: 100%;
  /* background-color: red; */
  /* border-top: 2px solid rgb(230, 230, 230); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-image: url("/public/footer-background1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.footer-main-body {
  width: 100%;
  height: 90%;
  /* background-color: rgb(109, 8, 8); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.footer-body {
  min-height: 250px;
  /* height: 80%; */
  width: 90%;
  /* background-color: rgb(94, 94, 101); */
  display: flex;
  border-bottom: 1px solid rgb(199, 199, 199);

  /* flex-direction: column; */
  justify-content: space-between;

  align-items: center;
}
.footer-content-body1 {
  /* height: 90%; */
  /* width: 50%; */
  height: 200px;
  width: 45rem;
  /* background-color: rgb(9, 9, 234); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-head {
  height: 20%;
  width: 100%;
  /* background-color: rgb(9, 9, 117); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.563rem;
  text-transform: uppercase;
  /* border: 2px solid white; */
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#footer-med-logo-png {
  /* height: 70%; */
  height: 40px;
  width: auto;
  /* filter: invert(1); */
  /* filter: drop-shadow(5px 5px 5px #ffffff); */
}
.footer-container1 {
  height: 70%;
  width: 100%;
  /* background-color: rgb(0, 0, 6); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-content1 {
  height: 100%;
  width: 30%;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  /* border: 2px solid red; */
  justify-content: flex-start;

  align-items: flex-start;
  flex-direction: column;
}
.footer-data {
  /* color: blue; */

  font-size: 0.9rem;
  /* top: 10px; */
  margin: 10px 0px 0px 0px;
  /* background-color: rgb(243, 233, 233); */
}

.footer-content-body2 {
  /* height: 90%; */
  height: 200px;
  width: 20rem;

  /* width: 30%; */
  /* background-color: rgb(183, 16, 119); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-container2 {
  height: 70%;
  width: 100%;
  /* background-color: rgb(0, 0, 201); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content2 {
  height: 100%;
  width: 45%;
  /* background-color: rgb(204, 14, 14); */
  display: flex;
  /* border: 2px solid red; */
  justify-content: flex-start;

  align-items: flex-start;
  flex-direction: column;
}

.footer-content-body3 {
  /* height: 90%; */
  height: 200px;
  width: 15rem;

  /* width: 20%; */
  /* background-color: rgb(77, 183, 16); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-content3 {
  height: 70%;
  width: 70%;
  /* background-color: rgb(204, 14, 14); */
  display: flex;
  /* border: 2px solid red; */
  justify-content: flex-start;

  align-items: flex-start;
  flex-direction: column;
}

.footer-icon {
  /* background-color: blue; */
  height: auto;
  width: 100%;
}

/* ///////////// */

.footer-footer {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  /* background-color: aqua; */
}
.footer-footer-1 {
  width: 70rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* background-color: rgb(0, 106, 255); */
  font-size: 13px;
  font-weight: 600;
}
.footer-footer-2 {
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  /* background-color: rgb(111, 102, 102); */
}
.footer-footer-3 {
  width: 10rem;
  font-size: 13px;
  font-weight: 600;
  /* background-color: rgb(90, 43, 43); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .footer-body {
    min-height: 250px;
    /* height: 80%; */
    width: 90%;
    /* background-color: rgb(94, 94, 101); */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-head {
    height: 20%;
    width: 100%;
    /* background-color: rgb(9, 9, 117); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.263rem;
    text-transform: uppercase;
    /* border: 2px solid white; */
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  .footer-data {
    /* color: blue; */

    font-size: 0.8rem;
    /* top: 10px; */
    margin: 10px 0px 0px 0px;
    /* background-color: rgb(243, 233, 233); */
  }

  .footer-footer {
    width: 90%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    flex-wrap: wrap;
    /* background-color: aqua; */
  }
  .footer-footer-1 {
    width: 50rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* background-color: rgb(0, 106, 255); */
    font-size: 13px;
    font-weight: 600;
  }
  .footer-footer-2 {
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    /* background-color: rgb(111, 102, 102); */
  }
  .footer-footer-3 {
    width: 20rem;
    font-size: 13px;
    font-weight: 600;
    /* background-color: rgb(90, 43, 43); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
