.profile-home-body {
  min-height: 627px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("/public/cardbody1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.profile-home-sub-body {
  height: 35rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.profile-home-sub-body-form {
  /* background-color: rgb(0, 255, 85); */
  /* background-color: rgb(255, 0, 0); */

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.profile-home-image {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: yellow; */
  column-gap: 40px;
  font-size: 2.2rem;
  font-weight: 700;
}

.profile-photo {
  height: 120px;
  max-width: 120px;  
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(85, 85, 85, 0.429);
  border: 10px solid rgb(255, 255, 255);
}
.profile-home-content {
  box-shadow: 10px 10px 20px rgba(47, 47, 47, 0.125);

  border-radius: 35px;
  height: 50rem;
  width: 60%;
  display: flex;
  /* border: 2px solid #00000046; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("/public/cardbody.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.profile-input-box {
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  column-gap: 5px;
  height: 20px;
}
.profile-input-label {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(62, 26, 0);
  min-width: 28%;
  /* background-color: rgb(238, 180, 180); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}
.profile-input {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  /* text-align: start; */
  /* text-transform: capitalize; */
  border: 0px;
  /* border-bottom: 1px solid rgba(212, 133, 15, 0.603); */
  color: rgb(62, 26, 0);
  height: 20px;
  min-width: 20%;
  background-color: rgba(117, 251, 0, 0);
}
.profile-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#profile-input-edit {
  height: 20px;
  width: auto;
}

.profile-update {
  height: 40px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 40%;

  background-image: url("/public/navbar1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transition: box-shadow 0.2s;
}
.profile-update:hover {
  transition-timing-function: ease;
  /* background-color: rgb(255, 234, 210); */
  /* background-image: url("/public/navbar1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; */
  box-shadow: 0px 1px 8px rgba(47, 47, 47, 0.538);
}
