.profile-home-body {
  height: 647px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("/public/cardbody1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.profile-home-sub-body {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.profile-home-sub-body-form {
  /* background-color: rgb(0, 255, 85); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

}
.profile-home-image {
  background-image: url("/public/user-profile.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  border-top: 1px solid #ffd6b6;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  height: 30%;
  width: 60%;
  /* margin: 0px 0px 8px 0px; */
}
.profile-home-image{
  /* background-color: red; */
}
.profile-home-content {
  /* background-image: linear-gradient(327deg, rgb(255 171 112), rgb(255 223 181)); */
  background-image: url("/public/user-profile.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px;
  height: 90%;
  width: 60%;
  display: flex;
  /* border-right: 1px solid #ffd6b6; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
#profile-photo {
  height: 100px;
  width: auto;
}
.profile-input-box {
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.profile-input {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  /* text-transform: capitalize; */
  border: 0px;
  border-bottom: 1px solid rgba(212, 133, 15, 0.603);
  height: 20px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0);
}
.profile-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#profile-input-edit {
  height: 20px;
  width: auto;
}

.profile-update {
  height: 40px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 40%;

  background-color: rgb(212, 113, 0);
  transition: background-image 5s;
}
.profile-update:hover {
  transition-timing-function: ease;
  /* background-color: rgb(255, 234, 210); */
  background-image: url("/public/navbar1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
