.userprofile-home-body {
  min-height: 770px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("/public/cardbody1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.userprofile-home-sub-body {
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.userprofile-home-sub-body-form {
  /* background-color: rgb(0, 255, 85); */
  /* background-color: rgb(0, 255, 17); */

  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.userprofile-home-content {
  box-shadow: 10px 10px 20px rgba(47, 47, 47, 0.125);

  border-radius: 35px;
  min-height: 600px;
  /* width: 70%; */
  width: 450px;
  display: flex;
  /* border: 2px solid #00000046; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(
    200deg,
    rgb(255, 255, 255),
    rgb(253, 244, 223)
  );
  /* background-image: url("/public/cardbody.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.userprofile-home-image {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: yellow; */
  column-gap: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

.userprofile-photo {
  max-height: 120px;
  max-width: 120px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(85, 85, 85, 0.429);
  border: 10px solid rgb(255, 255, 255);
}

.userprofile-input-box {
  width: 80%;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  column-gap: 5px;
  height: 25px;
}
.userprofile-input-label {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(62, 26, 0);
  min-width: 28%;
  /* background-color: rgb(238, 180, 180); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}
.userprofile-input {
  text-align: start;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid rgb(239, 239, 239);
  padding: 0px 10px;
  border-radius: 5px;
  color: rgb(62, 26, 0);
  height: 30px;
  min-width: 20%;
  background-color: rgba(255, 255, 255, 0.719);
}
.userprofile-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#userprofile-input-edit {
  height: 20px;
  width: auto;
}

.userprofile-update {
  height: 40px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 40%;
  cursor: pointer;
  /* background-color: red; */
  background-image: url("/public/navbar1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transition: box-shadow 0.2s;
}
.userprofile-update:hover {
  transition-timing-function: ease;
  /* background-color: rgb(255, 234, 210); */
  /* background-image: url("/public/navbar1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; */
  box-shadow: 0px 1px 8px rgba(47, 47, 47, 0.538);
}
.address-sec {
  min-height: 35px;
  width: 80%;

  font-size: 0.8rem;
  font-weight: 600;
  border: 1px dashed rgb(234, 194, 130);
  /* background-color: rgb(167, 109, 109); */
  text-decoration: none;
  color: rgb(62, 26, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.address-img {
  height: 15px;
}
@media screen and (max-width: 475px) {
  .userprofile-home-sub-body {
    width: 100%;
  }
  .userprofile-home-content {
    width: 100%;
    border-radius: 15px;
  }
  .userprofile-home-image {
    column-gap: 10px;
    font-size: 1.8rem;
  }
  .userprofile-photo {
    max-height: 100px;
    max-width: 100px;
  }
  .userprofile-input-label,
  .userprofile-input {
    font-size: 0.91rem;
  }
}