.vol-profile-home-body {
  min-height: 627px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  /* background-image: url("/public/cardbody1.jpg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583150/Med-equip/hrxjh4lqnafcysp5l96g.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.vol-profile-home-sub-body {
  height: 35rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.vol-profile-home-sub-body-form {
  /* background-color: rgb(0, 255, 85); */
  /* background-color: rgb(255, 0, 0); */

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.vol-profile-home-image {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: yellow; */
  column-gap: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

.vol-profile-photo {
  max-height: 120px;
  max-width: 120px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(85, 85, 85, 0.429);
  border: 10px solid rgb(255, 255, 255);
}
.vol-profile-home-content {
  box-shadow: 5px 0px 20px rgba(47, 47, 47, 0.125);

  border-radius: 35px;
  min-height: 550px;
  width: 450px;
  display: flex;
  border: 2px solid #ffffff46;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(
    200deg,
    white,
    rgb(254, 244, 214),
    rgb(253, 244, 223)
  );
  /* background-image: url("/public/cardbody.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.vol-profile-input-box {
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  column-gap: 5px;
  height: 20px;
}
.vol-profile-input-label {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(62, 26, 0);
  min-width: 28%;
  /* background-color: rgb(238, 180, 180); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}
.vol-profile-input {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  /* text-align: start; */
  /* text-transform: capitalize; */
  border: 1px dashed rgb(215, 214, 214);
  /* border-bottom: 1px solid rgba(212, 133, 15, 0.603); */
  color: rgb(62, 26, 0);
  height: 25px;
  min-width: 20%;
  background-color: transparent;
}
.vol-profile-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(154, 154, 154);
}
#vol-profile-input-edit {
  height: 20px;
  width: auto;
}

.vol-profile-update {
  height: 40px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 40%;
  cursor: pointer;
  /* background-color: red; */
  /* background-image: url("/public/navbar1.jpeg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583157/Med-equip/m1vlvemymvsgvxzgghty.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transition: box-shadow 0.2s;
}
.vol-profile-update:hover {
  transition-timing-function: ease;
  /* background-color: rgb(255, 234, 210); */
  /* background-image: url("/public/navbar1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; */
  box-shadow: 0px 1px 8px rgba(47, 47, 47, 0.538);
}
@media screen and (max-width: 475px) {
  .vol-profile-home-sub-body {
    width: 100%;
  }
  .vol-profile-home-content {
    width: 100%;
    border-radius: 1px;
    background-image: linear-gradient(
      200deg,
      white,white
    );
  }
  .vol-profile-home-image {
    column-gap: 20px;
    font-size: 1.5rem;
  }
  .vol-profile-photo {
    max-height: 100px;
    max-width: 100px;
  }
  .vol-profile-input-box {
    width: 90%;
    /* background-color: red; */
  }
  .vol-profile-input-label {
    width: 35%;
    font-size: 0.91rem;
  }
  .vol-profile-input {
    width: 65%;
    /* background-color: cadetblue; */
    font-size: 0.91rem;
  }
}
