.login-body {
  height: 647px;
  width: 100%;
  /* background: url("/public/login-wallpaper2.jpeg"); */
  background: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583157/Med-equip/jl8qwdwokcy1fpyepd13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login {
  height: 350px;
  width: 330px;
  background-color: #ffffff3c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 2px solid #ffffff90;
  border-radius: 20px;
}
.components {
  height: 350px;
  width: 280px;
  /* background-color: rgb(141, 196, 130); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: justify;
  color: white;
}
.components1 {
  width: 100%;
  height: auto;
  /* background-color: rgb(79, 181, 59); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-input-box {
  height: 60px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-input-field-sec {
  height: 43px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}
.login-input {
  height: 43px;
  width: 80%;
  border: 0px;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-radius: 10px; */
  margin: 10px 0px;
  /* background-color: rgb(0, 183, 255); */
  text-transform: capitalize;
  padding: 0px 10px;
}
.login-input:focus {
  /* outline: 2px solid #ffe8bc; */
  outline: none;
}
.login-input-field-sec:focus-within {
  outline: 2px solid #ffd572;
  /* outline: 2px solid #fadd9e; */
}
.login-png {
  height: 22px;
  width: auto;
  /* background-color: red; */
  /* border-right: 1px solid rgb(225, 225, 225); */
  padding: 0px 5px 0px 10px;
}
.login-h1 {
  margin: 20px 0px;
  font-size: 40px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.login-h4 {
  margin: 0px;
  /* color: #735400; */
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}
#anchor {
  text-decoration: none;
  color: rgb(44, 43, 41);
  font-size: 15px;
  font-weight: 700;
}
#anchor:hover {
  color: rgb(255, 181, 84);
}
.login-submit {
  width: 90%;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  /* background-color: #010e37; */
  background-color: #372001;
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin: 10px 0px;
  transition: background-color 0.2s, color.2s;
}
.login-submit:hover {
  transition-timing-function: ease;
  /* background-image: url("/public/navbar1.jpeg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583157/Med-equip/m1vlvemymvsgvxzgghty.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* background-color: rgb(255, 181, 84); */
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 900px) {
  .login {
    backdrop-filter: unset;
  }
}
@media screen and (max-width: 400px) {
  .login-h1 {
    margin: 20px 0px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  .login {
    height: 330px;
    width: 80%;
    backdrop-filter: unset;
  }
  .login-input-field-sec {
    height: 40px;
    width: 85%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
  }
  .login-input {
    height: 40px;
    width: 80%;
    border: 0px;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-radius: 10px; */
    margin: 10px 0px;
    /* background-color: rgb(0, 183, 255); */
    text-transform: capitalize;
    padding: 0px 10px;
  }
  .login-png {
    height: 20px;
    width: auto;
    /* background-color: red; */
    /* border-right: 1px solid rgb(225, 225, 225); */
    padding: 0px 5px 0px 10px;
  }
  .login-submit {
    width: 85%;
    height: 45px;
    background-color: #4e1e00;
    font-size: 17px;
  }
  .login-h4 {
    margin: 0px;
    /* color: #735400; */
    color: #000000;
    font-size: 13px;
    font-weight: 700;
  }
}
