.volunteerlist-body {
  min-height: 650px;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.volunteerlist-sub-body {
  min-height: 100px;
  width: 90%;
  /* background-color: blue; */
  padding: 0px 0px 50px 0px;
  /* background-image: url("/public/cardbody.jpg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583153/Med-equip/jrdnovvcos58rudtfcat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.volunteerlist-sub-body-heading {
  height: 5rem;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 28px;
  flex-direction: column;
  /* background-color: rgb(195, 195, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.volunteerlist-vol-no-data {
  height: auto;
  width: 40%;
  /* background-color: red; */
}
.volunteerlist-content {
  min-height: 500px;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 30px;

  /* background-color: rgb(191, 255, 0); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volunteerlist-card-body {
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 230px;
  flex-direction: column;
  box-shadow: 1px 5px 10px rgba(53, 53, 53, 0.256);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volunteerlist-card-image-sec {
  width: 100%;
  height: 30%;
  flex-direction: column;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunteerlist-card-img {
  max-height: 100%;
  max-width: 80%;
  border-radius: 50%;
  filter: drop-shadow(0px 5px 5px rgba(72, 72, 72, 0.522));
}

.volunteerlist-card-details {
  width: 100%;
  height: 60%;
  flex-direction: column;
  display: flex;
  /* background-color: violet; */
  justify-content: space-evenly;
  align-items: center;
}
.volunteerlist-h3 {
  color: rgb(28, 28, 28);
  text-transform: capitalize;

  margin: 0px;
}
@media screen and (max-width: 770px) {
  .volunteerlist-body {
    padding: 20px 0;
  }
  .volunteerlist-sub-body-heading {
    font-size: 1.5rem;
  }
  .volunteerlist-vol-no-data {
    height: auto;
    width: 80%;
    /* background-color: red; */
  }
}
@media screen and (max-width: 400px) {
  .volunteerlist-card-body {
    height: 300px;
    border-radius: 15px;
  }
  .volunteerlist-h3 {
    font-size: 1rem;
  }
}
