.order-body {
  min-height: 630px;
  width: 100%;
  background-color: #fffaf5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-card {
  margin: 30px 0px;
  padding: 30px 0px;
  min-height: 580px;
  row-gap: 30px;
  width: 70%;
  background-image: url("/public/cardbody1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* background-color: rgb(218, 27, 27); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.order-card-head {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
  color: rgb(41, 41, 41);
  font-weight: 700;
  /* background-color: rgb(115, 255, 0); */
}
.order-card-body {
  min-height: 500px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

}
.order-card-personal-info {
  min-height: 180px;
  width: 85%;
  /* background-color: rgb(71, 21, 21); */
  display: flex;
  margin: 10px 0px 0px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 700;
  font-size: 0.72rem;
  text-transform: uppercase;
}
.order-card-product {
  min-height: 350px;
  width: 85%;
  /* background-color: rgb(107, 59, 0); */
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  row-gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.order-card-product-head {
  width: 90%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-head-title-qty {
  width: 5%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;

  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-head-title {
  width: 22%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;

  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.order-card-product-details {
  width: 90%;
  /* height: 60%; */
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-details-data-qty {
  width: 5%;
  font-size: 0.95rem;
  /* background-color: red; */
  font-weight: 600;
  color: rgb(45, 45, 45);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: justify; */
}
.product-details-data {
  width: 22%;
  font-size: 0.95rem;
  /* background-color: red; */
  font-weight: 600;
  color: rgb(45, 45, 45);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
}
.product-details-data-orderplaced {
  width: 22%;
  font-size: 0.95rem;
  /* background-color: red; */
  font-weight: 600;
  color: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.order-button {
  width: 50%;

  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.order-home-link {
  width: 40%;
  height: 40px;
  border: 1px solid rgb(255, 244, 244);
  border-radius: 5px;
  font-size: 0.9rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-image: url("/public/navbar.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.order-home-link:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.195);
}
.order-placed-tick{
  height: 30px;
  width: auto;
}