.addressdetails-body {
  height: 630px;
  width: 100%;
  /* background-color: red; */
  background-image: url("/public/cardbody1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-d-sub-body {
  height: 530px;
  width: 60%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a-d-sub-body-head {
  height: 70px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: center;
  font-size: 1.85rem;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
}
.a-d-details {
  height: 200px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-d-address {
  width: 30%;
  /* background-color: rgb(204, 89, 89); */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.a-d-address-img {
  max-height: 100%;
  width: 200px;
  /* background-color: red; */
}
.a-d-address-data {
  width: 80px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  /* background-color: rgb(255, 239, 239); */
}
.a-d-track {
  height: 200px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: center;
  align-items: center;
}
