.addressdetails-body {
  min-height: 630px;
  width: 100%;
  /* background-color: red; */
  /* background-image: url("/public/cardbody1.jpg"); */
  background-image: url("https://res.cloudinary.com/dqc2xhnac/image/upload/v1708583150/Med-equip/hrxjh4lqnafcysp5l96g.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-d-sub-body {
  min-height: 530px;
  width: 60%;
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a-d-sub-body-head {
  height: 70px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: center;
  font-size: 1.85rem;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
}
.a-d-details {
  min-height: 200px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-d-address {
  width: 30%;
  /* background-color: rgb(204, 89, 89); */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.a-d-address-img {
  max-height: 100%;
  width: 200px;
  /* background-color: red; */
}
.a-d-address-data {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  /* background-color: rgb(255, 239, 239); */
}
.a-d-track {
  height: 200px;
  width: 100%;
  /* background-color: rgb(211, 41, 41); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pending,
.delivered,
.order-accepted {
  font-weight: 600;
  text-transform: capitalize;
}
.pending {
  color: rgb(0, 0, 0);
}
.delivered {
  color: rgb(15, 227, 0);
}
.order-accepted {
  color: rgb(5, 104, 243);
}
@media screen and (max-width: 1060px) {
  .a-d-sub-body {
    height: 530px;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .a-d-sub-body {
    min-height: 530px;
    width: 95%;
  }
  .a-d-address {
    width: 33%;
    /* background-color: rebeccapurple; */
  }
  .a-d-address-data {
    width: 90%;
    /* background-color: red; */
    font-size: 0.62rem;
  }
  .pending,
  .delivered,
  .order-accepted {
    font-size: 0.92rem;
  }
  .status-video {
    /* background-color: red; */
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .addressdetails-body {
    min-height: 630px;
    width: 100%;
    padding: 50px 0;
  }
  .a-d-sub-body-head {
    height: 70px;
    width: 100%;
    /* background-color: rgb(211, 41, 41); */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
  .a-d-sub-body {
    /* min-height: 530px; */
    height: auto;
    width: 90%;
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .a-d-details {
    min-height: 200px;
    width: 100%;
    /* background-color: rgb(0, 22, 7); */
    display: flex;

    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
  }

  .a-d-address {
    min-height: 150px;
    width: 90%;
    flex-direction: column;
    /* background-color: rgb(128, 0, 255); */
  }
}
